@charset "UTF-8";

h1 {
    color: #FFFFFF;
    padding:10px 20px;
    background-color: #3333CC;
}

#footer_navi {
    margin-bottom: 16px;
}

#footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 1px
}

footer_navi {
    display: inline-block;
    width: 100px;
    background-color: #dddddd;
    text-align: center;
    padding: 5px;
}

#footer_navi ul li{
   width: 163px;
    text-align: center;
}

#footer_navi ul li  {
    display: block;
    padding: 10px 16px;
    background-color:#3399FF;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color .2s linear;
}