<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>日報管理</title>
	<link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
	<h1>日報管理システム</h1>
	<h2>従業員情報　詳細ページ</h2>
		<table>
			<tr>
				<th>社員番号</th>
				<th>氏名</th>
				<th>権限</th>
				<th>登録日時</th>
				<th>更新日時</th>
			</tr>
		<tr th:each="data : ${employeelist}">
			<td th:text="${data.id}"></td>
			<td th:text="${data.name}"></td>
		<td>
			<a >詳細を見る</a>
			</td>
		</tr>
	</table>
	<p>(全４件)</p>
	<p>新規従業員の登録</p>
</body>
</html>

