<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理</title>
<link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>従業員一覧</h2>
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="emp : ${emplist}">
            <td th:text="${emp.authentication.code}"></td>
            <td th:text="${emp.name}"></td>
            <td><a th:href="@{/employee/detail/{id}/(id=${emp.id})}">詳細を見る</a></td>
        </tr>
    </table>
    <span>(全</span>
    <span th:text="${emplist.size}"></span>
    <span>件)</span>
    <br>
    <a th:href="@{/employee/register}">新規従業員の登録</a>
</body>
</html>

