<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理</title>
<link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
    <h1>日報管理システム</h1>
<footer>
   <div id="footer_navi">
   <ul>
    <li><a th:href="@{/employee/list}">従業員管理</a></li>
    <li>日報管理</li>

    <li>名前</li>
    <li><a th:href="@{/login}">ログアウト</a></li>
   </ul></div>
</footer>
    <h2>従業員 新規登録ページ</h2>
        <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="authentication.code">社員番号</label><br>
        <input type="text" th:field="*{authentication.code}" th:errorclass="err">
        <span th:errors="*{authentication.code}" class="err"></span>
        <br>
        <label for="name">名前</label><br>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:errors="*{name}" class="err"></span>
        <br>
        <label for="authentication.password">パスワード</label><br>
        <input type="password" th:field="*{authentication.password}" th:errorclass="err">

        <span th:errors="*{authentication.password}" class="err"></span>
        <br>
        <label for="authentication.role">権限</label><br>
        <select th:field="*{authentication.role}" th:errorclass="err">
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
             th:value="${item}" th:text="${item}">
        </select>
        <span th:errors="*{authentication.role}" class="err"></span>
        <br>
        <input type="submit" value="投稿">
         </form>

        <a th:href="@{/employee/list/}" >一覧に戻る</a>

</body>
</html>